<% if((typeof(localsSessionCookie)!='undefined')&&(localsSessionCookie != "")){ %>
<%- include common/headerUsuario.ejs %>
<% }else{%>
<%- include common/header.ejs %>
<% } %>
    <div id="container">
        <h3>Bienvenido <%= userRecord.displayName %> </h3>
        <div id="loaded">
          <div id="main">
            <div id="user-signed-in">
              <div id="user-info">
                <div id="photo-container">
                    <img id="photo" src= <%= userRecord.photoURL %>> 
                </div>
                <div id="name">' + userRecord.displayName + '</div>
                <div id="email"><%= userRecord.email %>(<%= userRecord.emailVerified %> ? 'verified' : 'unverified'</div>
                <div class="clearfix"></div>
              </div>
              <p>
               <button id="sign-out" onClick="window.location.assign('/users/logout')">Sign Out</button>
               <button id="delete-account" onClick="window.location.assign('/users/delete')">Delete account</button>
              </p>
            </div>
          </div>
        </div>
      </div>
<%- include common/footer.ejs %>